**/*.git
**/*.gitignore
**/*.gitattributes
**/*.dockerignore
**/*.gitlab-ci.yml
**/*.editorconfig
**/*.vscode
**/*.idea
**/*.iws
**/*.iml
**/*.ipr
**/*.kube
**/*.log
**/*.md
**/Makefile

helm
dist
node_modules
.pytest_cache/
__pycache__/
dist/
draft/
notes.txt
venv
.env.test
run.sh
docker/docker-compose.yml
docker/docker-compose-local.yml
docker/docker-compose-prod.yml
