* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.jpg binary
*.png binary
*.sh      text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
*.yml     text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2
