:root {
    --stroke-a-white: #FFF;
    --stroke-a-black: #000000;

    --text-a-white: #FFF;
    --text-a-black: #000000;

    --bg-a-blue: #0066A1;
    --bg-a-white: #FFF;
    --bg-a-black: #000000;

}